@page "/"

<PageTitle>Home</PageTitle>

<h1 class="font-extrabold">Hello, world!</h1>

<Button Text="Click me" OnClick="ClickOn"></Button>

@code {
    void ClickOn()
    {
        Console.WriteLine("Clicked.");
    }
}
